html
	head
	body
		h1 User Information App
		ul
			li 
				a(href='/') home
			li 
				a(href='all-users') display all users
			li 
				a(href='search-user') search user
			li 
				a(href='')
					h3 add user
		h2 Add user
		//- add firstname, add lastname, add email bar