html
	head
	body
		h1 User Information App
		ul
			li 
				a(href='/') home
			li 
				a(href='all-users') display all users
			li 
				a(href='search-user') search user
			li 
				a(href='')
					h3 add user
		h2 Add user
		//- add firstname, add lastname, add email bar
		form(name='user-form' method='POST' action='/all-users')
			div.form-group
				label(for = 'firstname') Firstname: 
				input#firstname.form-control(type ='text', placeholder ='Firstname' name ='firstname')
			div.form-group
				label(for = 'lastname') Lastname: 
				input#lastname.form-control(type ='text', placeholder ='Lastname' name ='lastname')
			div.form-group
				label(for = 'email') Email: 
				input#email.form-control(type ='text', placeholder ='name@email.com' name ='email')
			button.btn.btn-primary(type='submit' id='button') Add user 
			//- alert when not all fields are filled out
			script(type='text/javascript' src='main.js')
			script(type='text/javascript' src='konami.js')


			//- if(!data['firstname'] || !data['lastname'] || !data['email']){ 
			//- 	document.getElementById('button').onclick = function() {
			//- 		alert("Oops, you have to fill in all fields to add a user. Try again!")
			//- 	}
			//- }

			//- script.
			//- 	var data = '#{data}'