html
	head
		script(type='text/javascript') alert('hoi')
	body
		h1 User Information App
		ul
			li 
				a(href='')
					h3 home
			li 
				a(href='all-users') display all users
			li 
				a(href='search-user') search user
			li 
				a(href='add-user') add user
		h2 Home
		p Hi there, with this app you can search for users, add new users and see the whole list of users.

