html
	head
	body
		h1 User Information App
		ul
			li 
				a(href='/') home
			li 
				a(href='all-users') display all users
			li 
				a(href='')
					h3 search user
			li 
				a(href='add-user') add user
		h2 Search user
		//- search bar
		form(method='POST' action='/result-search')
			div.form-group
				label(for = 'search') Search: 
				input#search.form-control(type ='text', placeholder ='First- or Lastname' search ='search')
			button.btn.btn-primary(type='submit') Search user