footer.footer
			div.container
				p It's like Tumblr, but not quite
script(type='text/javascript' src='/js/jquery-3.1.1.min.js')
script(type='text/javascript' src='/js/bootstrap.min.js')
//- path to app.js (compiled) because main.js will never touch browser again
script(type='text/javascript' src='/js/app.js')