#start-content {
	margin-top: 70px;
}

p {
	white-space: pre-wrap;
}

.form-group {
	text-align: center;
}

#form-button, h1 {
	text-align: center;
}

.errorMessage {
	color: red;
	text-align: center;
}

.btn-primary {
	background-color: #222222;
}