html
	head
	body
		nav
			ul
				li
					a(href='/') Newsfeed
				li
					a(href='/profile') Profile
		form(name='post-form' method='POST' action='/post')
			label
			textarea#body(type='text' placeholder='Your message' name='body' row='4' required)
			button(type='submit') Post
		h1 Newsfeed
		- for (let i = data.length - 1; i >= 0; i--)
			p #{data[i].name}
			p #{data[i].body}
			p #{data[i].createdAt}
			a(href='/post/?id=' + data[i].id) Comment