html
	include includes/header.pug
	body#newsfeed
		include includes/nav.pug
		div#start-content.container
			form.form-horizontal(name='post-form' method='POST' action='/post')
				div.form-group
						label
						//- textarea cause this is bigger than input
						//- required makes sure html will not submit (make post request to back end) when field is empty
						//- input can't be longer than 9000, cuts of after that
						textarea.form-control#body(type='text' placeholder='Your message' name='body' maxlength='9000' rows='4' required)
				div#form-button.form-group
						button.btn.btn-primary.btn-lg(type='submit') Post
			h1 Newsfeed
			//- data (posts) is send from app.get('/') when rendering newsfeed
			//- all posts in database starting from last one
			- for (let i = posts.length - 1; i >= 0; i--)
				div.panel.panel-default
					div.panel-heading
						p#username #{posts[i].user.name}
						p#time #{posts[i].createdAt}
					div.panel-body
						p #{posts[i].body}
					div.panel-footer
						a(href='/post/?id=' + posts[i].id) Comment
			h5#errormessage=message
		include includes/footer.pug