html
	head
	body
		nav
			ul
				li
					a(href='/') Newsfeed
				li
					a(href='/profile') Profile
		h2=user.name
		h3=user.email

		a(href='/logout') log out

		//- all own posts starting at last one