html
	head
		title Bulletin Board
	body
		//- nav
		ul
			li
				a(href='/') Sign our bulletin board
			li
				a(href='all-comments') Bulletin board
		h1 Bulletin board
		ul
			//- show all messages in bulletinboard database, starting with the last one
			- for (let i = data.length - 1; i >= 0; i--)
				li #{data[i].title} <br/> #{data[i].body}