html
	head
		link(type="text/css" rel="stylesheet" href="css/bootstrap.min.css")
		link(type="text/css" rel="stylesheet" href="css/style.css")
		title Bulletin Board
	//- gave id to body so navbar can set it's link automatically to active with jquery
	body#bulletinboard
		//- include entire navbar code from other pug file
		include includes/nav.pug
		div#start-content.container
			div.col-sm-10
				h1 Bulletin board
				//- show all messages in bulletinboard database, starting with the last one
				- for (let i = data.length - 1; i >= 0; i--)
					//- use panel styling of bootstrap
					div.panel.panel-default
						div.panel-heading
							h3.panel-title #{data[i].name}
						div.panel-body 
							h5 #{data[i].title}
							//- set p style: white-space to pre-wrap: Whitespace is preserved by the browser. Text will wrap when necessary, and on line breaks --> so when user uses enters in message you'll see it on the bulletin board too
							p #{data[i].body}
						div.panel-footer #{data[i].time}
		script(type="text/javascript" src="js/jquery-3.1.1.min.js")
		script(type="text/javascript" src="js/bootstrap.min.js")
		script(type="text/javascript" src="js/main.js")