html
	head
		link(type="text/css" rel="stylesheet" href="css/bootstrap.min.css")
		link(type="text/css" rel="stylesheet" href="css/style.css")
		title Bulletin Board
	body
		//- nav
		nav(class="navbar navbar-inverse navbar-fixed-top")
			div(class="container")
				div(class="navbar-header")
					button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand" href="/") Bulletin Board App
				div(id="navbar" class="collapse navbar-collapse")
					ul(class="nav navbar-nav")
						li
							a(href="/") Leave a message
						li(class="active")
							a(href="/all-comments") Bulletin board
		div(id="start-content" class="container")
			div(class="col-sm-10")
				h1 Bulletin board
				//- show all messages in bulletinboard database, starting with the last one
				- for (let i = data.length - 1; i >= 0; i--)
					//- use panel styling of bootstrap
					div.panel.panel-default
						div.panel-heading
							h3.panel-title #{data[i].name}
						div.panel-body 
							h5 #{data[i].title} 
							p #{data[i].body}
						div.panel-footer #{data[i].time}
		script(type="text/javascript" src="js/jquery-3.1.1.min.js")
		script(type="text/javascript" src="js/bootstrap.min.js")