html
	head
		link(type="text/css" rel="stylesheet" href="css/bootstrap.min.css")
		title Bulletin Board
	body
		//- nav
		ul
			li
				a(href='/') Sign our bulletin board
			li
				a(href='all-comments') Bulletin board
		h1 Sign our bulletin board
		//- if a field is empty show error message
		if fieldEmptyError
				p(class="errorMessage") #{errorMessage}
		form(name='message-form' method='POST' action='/index')
			label(for = 'title') Title
				input#title(type = 'text', placeholder='Title', name = 'title')
			label(for = 'body') Message
				input#body(type = 'text', placeholder = 'Message', name = 'body')
			button(type='submit' id='button') Leave message
		//-script(type="text/javascript" src="js/jquery-3.1.1.min.js")
		//-script(type="text/javascript" src="js/bootstrap.min.js")
