html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(type="text/css" rel="stylesheet" href="css/bootstrap.min.css")
		link(type="text/css" rel="stylesheet" href="css/style.css")
		title Bulletin Board
	//- gave id to body so navbar can set it's link automatically to active with jquery
	body#leavemessage
		//- include entire navbar code from other pug file
		include includes/nav.pug
		div#start-content.container
			div.col-sm-10
				h1 Sign my bulletin board
			//- form which input is a post request
			form.form-horizontal(name="message-form" method="POST" action="/")
				div.form-group
					div.col-sm-10
						label
						input#name.form-control(type="text" placeholder="Your name" name="name")
				div.form-group
					div.col-sm-10
						label
						input#title.form-control(type="text" placeholder="Title for your message" name="title")
				div.form-group
					div.col-sm-10
						label
						textarea#body.form-control(type="text" placeholder="Your message" name="body" rows="6")
				div.col-sm-10
					//- if a field is empty show error message
					if fieldEmptyError
						//- set p style: white-space to pre-wrap: Whitespace is preserved by the browser. Text will wrap when necessary, and on line breaks --> so \n in errormessage is preserved
						p.errorMessage #{errorMessage}
				div#form-button.form-group
					div.col-sm-10
						button.btn.btn-primary.btn-lg(type="submit") Leave message
		script(type="text/javascript" src="js/jquery-3.1.1.min.js")
		script(type="text/javascript" src="js/bootstrap.min.js")
		script(type="text/javascript" src="js/main.js")
